body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-color: #ffffff;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.header {
  border-bottom: 1px solid #e7e9fc;
}
.header-container {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-logo,
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.1;
  color: #4d5ae5;
}
.header-logo-span {
  color: #2e2f42;
}
.header-list a {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 2%;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-list-link {
  position: relative;
}
.header-list-link .active {
  color: #404bbf;
}
.active::after {
  content: "";
  display: block;
  background-color: #404bbf;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: -25px;
}
.header-nav {
  display: flex;
  gap: 76px;
}

.header-info,
.header-list {
  display: flex;
  gap: 40px;
}
.header-info a {
  line-height: 1.5;
  letter-spacing: 2%;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-list a:hover,
.header-list a:focus,
.header-info a:hover,
.header-info a:focus {
  color: #404bbf;
}
/* hero section */

.hero {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #2e2f42;
  background-image:
    linear-gradient(#2e2f42b2, #2e2f42b2), url(/images/people-office.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.hero-container {
  padding-top: 188px;
  padding-bottom: 188px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: center;
  justify-content: center;
}
.hero-title {
  width: 496px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.1;
  letter-spacing: 2%;
  text-align: center;
  color: #ffffff;
}
.hero-btn {
  box-sizing: border-box;
  font-weight: 500;
  line-height: 1.3;
  width: 169px;
  height: 56px;
  gap: 10px;
  border-radius: 4px;
  border-color: transparent;
  padding: 16px 32px;
  cursor: pointer;
  background-color: #4d5ae5;
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:focus,
.hero-btn:hover {
  background-color: #404bbf;
}
/* advantages section */

.title {
  display: none;
}
.advantages-list {
  display: flex;
  gap: 24px;
  margin: 0 auto;
}
.advantages-list li {
  flex-basis: calc((100% - 72px) / 4);
}
.advantages-list h3 {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 2%;
  color: #2e2f42;
}
.advantages-list p {
  line-height: 1.5;
  letter-spacing: 2%;
  color: #434455;
}
.advantages-icon-wrapper {
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  bottom: 8px;
  position: relative;
}
.advantages-icon-wrapper .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* team section */

.team {
  background-color: #f4f4fd;
  margin: 0 auto;
}

.team-title,
.portfolio-title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 2%;
  text-align: center;
  color: #2e2f42;
}
.team-list {
  display: flex;
  align-items: center;
  gap: 24px;
}
.team-list-item {
  flex-basis: calc((100% - 72px) / 4);
  box-shadow:
    0px 2px 1px 0px #2e2f4214,
    0px 1px 1px 0px #2e2f4229,
    0px 1px 6px 0px #2e2f4214;
}
.team-list img {
  width: 264px;
  height: 260px;
  object-fit: cover;
}
.team-list h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 2%;
  text-align: center;
  color: #2e2f42;
}
.team-list p {
  margin-bottom: 8px;
  line-height: 1.5;
  letter-spacing: 2%;
  text-align: center;
  color: #434455;
}
.team-list-desc {
  padding: 32px 16px;
}
.team-list-desc h3 {
  margin-bottom: 8px;
}
.team-social-media-list {
  width: 232px;
  display: flex;
  gap: 24px;
}
.team-social-media-list-item {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  position: relative;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-social-media-list-item:hover,
.team-social-media-list-item:focus {
  background-color: #31d0aa;
}
.team-social-media-list-item .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* portfolio section */

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-list-desc {
  padding: 32px 16px;
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: #e7e9fc;
}
.portfolio-list-desc h3 {
  margin-bottom: 8px;
}
.portfolio-list-item {
  flex-basis: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-item-wrapper {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  color: #f4f4fd;
  line-height: 24px;
  letter-spacing: 2%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  background-color: #4d5ae5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-item:hover {
  box-shadow:
    0px 2px 1px 0px #2e2f4214,
    0px 1px 1px 0px #2e2f4229,
    0px 1px 6px 0px #2e2f4214;
}
.portfolio-list-item:hover .overlay {
  transform: translateY(0);
}
.portfolio-list img {
  width: 360px;
  height: 300px;
  object-fit: cover;
}
.portfolio-list h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 2%;
  color: #2e2f42;
}
.portfolio-list p {
  line-height: 1.5;
  letter-spacing: 2%;
  color: #434455;
}
/* footer section */

.container-footer {
  padding-top: 100px;
  padding-bottom: 100px;
  margin-left: 0 auto;
  display: flex;
  gap: 120px;
}
.footer {
  background-color: #2e2f42;
}
.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}
.footer-logo-span {
  color: #f4f4fd;
}
.footer-text {
  line-height: 1.5;
  letter-spacing: 2%;
  color: #f4f4fd;
}
.footer-media-title {
  font-weight: 500;
  width: 96px;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 16px;
}
.footer-social-media-list {
  width: 208px;
  display: flex;
  gap: 16px;
}
.footer-social-media-list-item {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  position: relative;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-media-list-item:hover,
.footer-social-media-list-item:focus {
  background-color: #31d0aa;
}
.footer-social-media-list-item .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
